@import url("https://fonts.googleapis.com/css?family=Work+Sans");
* {
  box-sizing: border-box; }

.headers {
  color: #e1f1ef; }

.bg-color {
  color: #343a40; }

.bg-s-color {
  color: #cb902e; }

.bg {
  background: linear-gradient(rgba(52, 58, 64, 0.8), rgba(52, 58, 64, 0.8)), url(../media/studio.jpeg) no-repeat fixed center; }

body {
  color: #343a40;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Work Sans', sans-serif; }

#navbar {
  display: block; }

#book-now {
  float: right; }

.bg header .navbar .nav-link:hover {
  transition: all 0.5s ease 0s; }
  .bg header .navbar .nav-link:hover:hover {
    color: #cb902e; }

.carousel .carousel-inner {
  height: 35vh; }

main .container .row a {
  text-decoration: none;
  color: #e1f1ef;
  transition: all 0.5s ease 0s; }

.map-text {
  color: #343a40;
  margin: auto; }

.nav-link:hover {
  cursor: pointer; }

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.map {
  width: 100%;
  border: 3px solid #e1f1ef;
  border-radius: 10px; }

.card {
  margin: 1rem;
  color: #343a40; }

.icons, .icons a:hover {
  color: #343a40;
  margin-right: 0.5rem; }
  .icons:hover, .icons a:hover {
    color: #cb902e;
    transition: all 0.5s ease 0s; }
  .icons a, .icons a:hover a {
    color: #e1f1ef;
    margin-right: 0.5rem; }

.mainTable:hover,
.headers:hover {
  cursor: default; }

.mainTable table,
.headers table {
  border-radius: 10px; }

.footer {
  height: 1.5rem;
  margin-bottom: 0;
  color: #e1f1ef; }

@media screen and (max-width: 500px) {
  body h1 {
    font-size: 2.7rem !important; }
  #bg {
    background: linear-gradient(rgba(52, 58, 64, 0.8), rgba(52, 58, 64, 0.8)), url(../media/studioIOS.jpeg);
    background-attachment: scroll; }
  #navbar {
    display: block; }
  #bottomIcons {
    margin: auto; }
  .wider {
    margin-left: -3rem;
    margin-right: -3rem; } }

.card {
  margin: 1rem auto 0.5rem auto; }

@media screen and (max-width: 768px) {
  .card {
    display: grid; } }
