@import 'config';

$bg-color:#E1F1EF;
$color: #343a40;
$s-color:#C78200;
$t-color:#703900;

* {
    text-decoration: none;
}

.row {
    display: grid;
    grid-template-areas:
        "studioA"
        "studioB"
        "studioC"
        "studioD"
        "studioF";
    grid-template-columns: repeat(2fr);


}

body {
    background: $bg-color;
    color: $color;
    margin: 0;
    overflow: auto;
}

/*
.site {
    header {
        .navbar {
            .nav-link:hover {
                @include ease();

                &:hover {
                    color: $s-color;
                }
            }
        }
    }
}
*/
main {
    .container {
        .row {
            a {
                text-decoration: none;
                color: $color;
                @include ease();

                &:hover {
                    color: $s-color;
                }
            }
        }
    }
}

h1,
.footer {
    margin-bottom: 0;
    color: $bg-color;
}

.carousel {
    max-width: 1450px;
    margin: auto;
}

// Map
.nav-link:hover {
    cursor: pointer;
}

footer {
    color: $color;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

}

// End of map

@import 'mobile';