@import 'config';

$bg-color:#343a40;
$color: #E1F1EF;
$s-color:#C78200;
$t-color:#703900;

* {
    text-decoration: none;
    box-sizing: border-box;
}

.row {
    /*
    display: grid;*/
    /*
    grid-template-areas:
        "studioA studioB"
        "studioC studioD"
        "studioD studioF";
        */
    grid-template-columns: repeat(2, 1fr);
}

body {
    background: $bg-color;
    color: $color;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

}

.site {
    header {
        .navbar {
            font-size: 1.2rem;

            .nav-link:hover {

                @include ease();

                &:hover {
                    color: $s-color;
                }
            }
        }
    }
}

main {
    .container {
        .row {
            a {
                text-decoration: none;
                color: $color;
                @include ease();

                &:hover {
                    color: $s-color;
                }
            }
        }
    }
}

h1,
.footer {
    margin-bottom: 0;
    color: $bg-color;

}

h1 {
    padding-bottom: 3rem;
}

// Map
.nav-link:hover {
    cursor: pointer;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

}

@import 'mobile';